<section class="about section" id="about">
  <div class="about__container container grid">
    <div class="about__img-wrapper">
      <img src="/assets/img/about.png" alt="" class="about__img" />
      <img src="/assets/img/about.png" alt="" class="about__img" />
      <img src="/assets/img/about.png" alt="" class="about__img" />
      <img src="/assets/img/about.png" alt="" class="about__img" />
    </div>
    <div class="about__content">
      <h2 class="section__title" data-title="Who am i">
        I'm Enoch Amarteifio, a Frontend Web Developer and Security Analyst
      </h2>
      <p class="about__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi cum
        distinctio mollitia odio officiis dolore exercitationem tempore eos
        numquam magnam.
      </p>
      <ul class="about__data grid">
        <li class="data__item">
          <h3 class="data__title">Name:</h3>
          <span class="data__description">Enoch Amarteifio</span>
        </li>

        <li class="data__item">
          <h3 class="data__title">Age:</h3>
          <span class="data__description">24 Years</span>
        </li>

        <li class="data__item">
          <h3 class="data__title">From:</h3>
          <span class="data__description">Accra, Ghana</span>
        </li>

        <li class="data__item">
          <h3 class="data__title">Email:</h3>
          <span class="data__description about__link">
            amarteifioenoch4@gmail.com
          </span>
        </li>
      </ul>

      <div class="about__bottom">
        <a href="" class="btn">Download CV</a>

        <div class="about__social-links">
          <a href="" class="about__social-link">
            <i class="fa-brands fa-twitter"></i>
          </a>

          <a href="" class="about__social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>

          <a href="" class="about__social-link">
            <i class="fa-brands fa-facebook"></i>
          </a>

          <a href="" class="about__social-link">
            <i class="fa-brands fa-linkedin"></i>
          </a>

          <a href="" class="about__social-link">
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
