<section class="contact section" id="contact">
  <h2 class="section__title title-center" data-title="Get in touch">
    Contact Me
  </h2>
  <div class="contact__container container grid">
    <div class="contact__details">
      <div class="contact__item">
        <i class="fa-solid fa-phone contact__icon"></i>

        <div>
          <h3 class="contact__title">Call Us</h3>
          <span class="contact__data">+233-542-972-982</span>
        </div>
      </div>
      <div class="contact__item">
        <i class="fa-solid fa-envelope contact__icon"></i>

        <div>
          <h3 class="contact__title">Email Us</h3>
          <span class="contact__data">amarteifioenoch4@gmail.com</span>
        </div>
      </div>
      <div class="contact__item">
        <i class="fa-solid fa-location-dot contact__icon"></i>

        <div>
          <h3 class="contact__title">Address</h3>
          <span class="contact__data"
            >G390/1, 21 Ankamafio Street, Accra, Ghana</span
          >
        </div>
      </div>
    </div>

    <form action="" class="contact__form">
      <div class="form__group">
        <div class="form__input">
          <input type="text" placeholder="Name" class="input__control" />
        </div>
        <div class="form__input">
          <input
            type="email"
            placeholder="johndoe@example.com"
            class="input__control"
          />
        </div>
      </div>

      <div class="form__input">
        <input type="text" placeholder="Subject" class="input__control" />
      </div>
      <div class="form__input">
        <textarea
          name=""
          id=""
          placeholder="Message"
          cols="30"
          rows="10"
          class="input__control textarea"
        ></textarea>
      </div>

      <button class="btn contact__btn">Send Message</button>
    </form>
  </div>
</section>
