<footer class="footer">
  <div class="footer__container container">
    <p class="footer__copyright">
      Copyright &copy; 2024 Enoch. All Rights Reserved
    </p>

    <div class="footer__social-links">
      <a href="" class="footer__social-link">
        <i class="fa-brands fa-twitter"></i>
      </a>

      <a href="" class="footer__social-link">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="" class="footer__social-link">
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a href="" class="footer__social-link">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="" class="footer__social-link">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
</footer>
