<section class="home" id="home">
  <div class="home__container container grid">
    <div class="home__content">
      <span class="home__small">Hello</span>
      <h1 class="home__title">
        <span>I'm</span> Enoch <br />
        a <span>Frontend Developer</span>
      </h1>
      <p class="home__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
        quae deleniti earum suscipit assumenda corrupti eos hic ea iure, aliquam
        modi eum reiciendis blanditiis. Sequi repellat similique numquam sunt
        maxime.
      </p>

      <div class="home__btns">
        <a href="#contact" class="btn">Hire Me</a>
        <a href="#portfolio" class="btn btn--transparent">Portfolio</a>
      </div>
    </div>
    <div class="home__img-wrapper">
      <img src="/assets/img/profile.png" alt="" class="home__img" />
    </div>
  </div>
</section>
