<section class="works section" id="works">
  <h2 class="section__title title-center" data-title="My Portfolio">
    Recent Works
  </h2>
  <div class="work__container container grid">
    <div class="work__card">
      <img src="/assets/img/project-img-1.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">Web Design</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
    <div class="work__card">
      <img src="/assets/img/project-img-2.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">Android App</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
    <div class="work__card">
      <img src="/assets/img/project-img-3.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">Photoshop</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
    <div class="work__card">
      <img src="/assets/img/project-img-4.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">UI/UX Design</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
    <div class="work__card">
      <img src="/assets/img/project-img-5.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">Web Design</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
    <div class="work__card">
      <img src="/assets/img/project-img-6.jpg" alt="" class="work__img" />
      <div class="work__details">
        <h3 class="work__title">Web Design</h3>
        <span class="work__description">This is a short description</span>
      </div>
    </div>
  </div>
</section>
