<section class="qualification section" id="qualification">
  <h2 class="section__title title-center" data-title="My Journey">
    Qualification
  </h2>

  <div class="resume__container container grid">
    <div class="resume__group">
      <h3 class="resume__heading">Education</h3>

      <div class="resume__itmes">
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">CardHouse Courses</h3>
            <span class="resume__icon">+</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">Backend Programming</h3>
              <span class="resume__date">2014 - 2016</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">University of Ghana</h3>
            <span class="resume__icon">-</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">Faculty of Mathematical Science</h3>
              <span class="resume__date">2012 - 2014</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">IT Future</h3>
            <span class="resume__icon">+</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">High School</h3>
              <span class="resume__date">2010 - 2012</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="resume__group">
      <h3 class="resume__heading">Experience</h3>

      <div class="resume__itmes">
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">UI Head & Manager</h3>
            <span class="resume__icon">+</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">Soft Tech Inc.</h3>
              <span class="resume__date">2020 - PRESENT</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">UI / UX Specialist</h3>
            <span class="resume__icon">-</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">Kana Design Studio</h3>
              <span class="resume__date">2018 - 2020</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
        <div class="resume__item">
          <div class="resume__header">
            <h3 class="resume__subtitle">Plugins Developer</h3>
            <span class="resume__icon">+</span>
          </div>

          <div class="resume__content">
            <div class="resume__date-title">
              <h3 class="resume__title">Fiverr.com</h3>
              <span class="resume__date">2016 - 2018</span>
            </div>

            <p class="resume__description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere
              quod sapiente facilis iure provident sed quasi eius iusto aut a
              spernatur?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
