<section class="services section" id="services">
  <h2 class="section__title title-center" data-title="Services">
    What can I do for you
  </h2>

  <div class="services__container container grid">
    <div class="services__item">
      <i class="fa-solid fa-pen-to-square services__icon"></i>

      <h3 class="services__title">UI/UX Design</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">01</span>
    </div>
    <div class="services__item">
      <i class="fa-solid fa-laptop services__icon"></i>

      <h3 class="services__title">Web Development</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">02</span>
    </div>
    <div class="services__item">
      <i class="fa-solid fa-chart-area services__icon"></i>

      <h3 class="services__title">Research & Analysis</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">03</span>
    </div>
    <div class="services__item">
      <i class="fa-solid fa-pen-to-square services__icon"></i>

      <h3 class="services__title">UI/UX Design</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">04</span>
    </div>
    <div class="services__item">
      <i class="fa-solid fa-laptop services__icon"></i>

      <h3 class="services__title">Web Development</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">05</span>
    </div>
    <div class="services__item">
      <i class="fa-solid fa-chart-area services__icon"></i>

      <h3 class="services__title">Research & Analysis</h3>
      <p class="services__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
        incidunt?
      </p>

      <span class="services__no">06</span>
    </div>
  </div>
</section>
