<section class="skills section">
  <h2 class="section__title title-center" data-title="My Talents">
    Professional Skills
  </h2>

  <div class="skills__container container grid">
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">PHP</h3>
        <span class="skills__no">85 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 85%">
          <span></span>
        </div>
      </div>
    </div>
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">JavaScript</h3>
        <span class="skills__no">75 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 75%">
          <span></span>
        </div>
      </div>
    </div>
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">WordPress</h3>
        <span class="skills__no">90 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 90%">
          <span></span>
        </div>
      </div>
    </div>
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">Python</h3>
        <span class="skills__no">75 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 75%">
          <span></span>
        </div>
      </div>
    </div>
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">React</h3>
        <span class="skills__no">70 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 70%">
          <span></span>
        </div>
      </div>
    </div>
    <div class="skills__item">
      <div class="skills__titles">
        <h3 class="skills__name">Adobe XD</h3>
        <span class="skills__no">80 %</span>
      </div>
      <p class="skills__description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
        officia!
      </p>

      <div class="skills__bar">
        <div class="skills__percentage" style="width: 80%">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>
