<section class="testimonials section">
  <h2 class="section__title title-center" data-title="Testimonials">
    What My Clients Say
  </h2>

  <div class="testimonials__container container grid">
    <div class="testimonials__item">
      <p class="testimonials__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus
        cupiditate consequuntur voluptate, a illum quia?
      </p>
      <div class="testimonials__data">
        <img
          src="/assets/img/testimonial-1.jpg"
          alt=""
          class="testimonials__img"
        />
        <div>
          <h3 class="testimonials__name">John Doe</h3>
          <span class="testiomonials__identity"></span>Seattle, Washington
        </div>
      </div>
    </div>
    <div class="testimonials__item">
      <p class="testimonials__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus
        cupiditate consequuntur voluptate, a illum quia?
      </p>
      <div class="testimonials__data">
        <img
          src="/assets/img/testimonial-2.jpg"
          alt=""
          class="testimonials__img"
        />
        <div>
          <h3 class="testimonials__name">Wilson John</h3>
          <span class="testiomonials__identity"></span>Seattle, Washington
        </div>
      </div>
    </div>
  </div>
</section>
